<h2>{{ isEditMode ? 'Chỉnh sửa sản phẩm' : 'Thêm sản phẩm' }}</h2>
<form (ngSubmit)="saveProduct()" class="product-form">
  <div class="form-column">
    <label>Tiêu đề:</label>
    <input type="text" [(ngModel)]="product.title" name="title" required>

    <label>Định dạng:</label>
    <input type="text" [(ngModel)]="product.format" name="format">

    <label>Số trang:</label>
    <input type="number" [(ngModel)]="product.pages" name="pages">

    <label>Ngày xuất bản:</label>
    <input type="date" [(ngModel)]="product.publicationDate" name="publicationDate">

    <label>Nhà xuất bản:</label>
    <input type="text" [(ngModel)]="product.publisher" name="publisher">

    <label>Ngôn ngữ:</label>
    <input type="text" [(ngModel)]="product.language" name="language">

    <div style="display: flex; gap: 10px;">
      <div style="flex: 1;">
        <label>Chiều rộng (mm):</label>
        <input type="number" [(ngModel)]="product.width" name="width">
      </div>
      <div style="flex: 1;">
        <label>Chiều cao (mm):</label>
        <input type="number" [(ngModel)]="product.height" name="height">
      </div>
      <div style="flex: 1;">
        <label>Độ dày (mm):</label>
        <input type="number" [(ngModel)]="product.length" name="length">
      </div>
      <div style="flex: 1;">
        <label>Khối lượng (kg):</label>
        <input type="number" [(ngModel)]="product.weight" name="weight">
      </div>
    </div>


    <label>Hình ảnh:</label>
    <input type="file" (change)="onFileSelected($event)">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Cover Image" style="max-width: 200px; margin-top: 10px;">
  </div>

  <div class="form-column">
    <label>Mô tả:</label>
    <textarea [(ngModel)]="product.description" name="description"></textarea>

    <label>Giảm giá (%):</label>
    <input type="number" [(ngModel)]="product.promotion" name="discount">

    <label>Ngày kết thúc giảm giá:</label>
    <input type="date" [(ngModel)]="product.promotionEndDate" name="discountEndDate">

    <label>Đánh giá từ người bán:</label>
    <textarea [(ngModel)]="product.sellerReview" name="sellerReview"></textarea>

    <label>Video URL:</label>
    <input type="text" [(ngModel)]="product.reviewVideo" name="videoUrl">

    <label>Giá:</label>
    <input type="number" [(ngModel)]="product.price" name="price" required>

    <label>Số lượng:</label>
    <input type="number" [(ngModel)]="product.stock" name="quantity" required>

    <label>Tác giả (Tên):</label>
    <input type="text" [(ngModel)]="product.authorName" name="authorName">

    <label>Thể loại:</label>
    <input type="text" [(ngModel)]="product.categoryName" name="categoryName" placeholder="Ngăn cách bằng dấu phẩy">
  </div>

  <div class="form-buttons">
    <button type="submit">{{ isEditMode ? 'Cập nhật' : 'Thêm mới' }}</button>
    <button type="button" (click)="cancel()">Hủy</button>
  </div>
</form>
