<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <app-header></app-header>
    <main id="tg-main" class="tg-main tg-haslayout">
      <app-best-selling></app-best-selling>
      <app-featured-item></app-featured-item>
      <app-picked-by-author></app-picked-by-author>
      <app-testimonials></app-testimonials>
      <app-call-to-action></app-call-to-action>
      <app-latest-news></app-latest-news>
    </main>
    <app-footer></app-footer>
    
  </div>
<router-outlet></router-outlet>