<section class="tg-bglight tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-featureditm">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
            <figure><img class="img1" [src]="book.imageUrl" alt="image description"></figure>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="tg-featureditmcontent">
              <div class="tg-themetagbox"><span class="tg-themetag">Nổi bật</span></div>
              <div class="tg-booktitle">
                <h3><a routerLink="/books/book-detail/{{book.id}}">{{book.title}}</a></h3>
              </div>
              <span class="tg-bookwriter">Tác giả: <a [routerLink]="['/books/authors-detail', book.authorId]">{{book.nameAuthor}}</a></span>
              <div class="rating-stars">
                  <ng-container *ngFor="let star of getStars(book.rating); let i = index">
                      <i class="fa" [ngClass]="star <= book.rating ? 'fa-star filled' : 'fa-star-o'"></i>
                  </ng-container>
                  <span class="rating-number">({{ book.rating.toFixed(1) }})</span>
              </div>
              <div class="tg-priceandbtn">
                <span class="tg-bookprice">
                  <ins>{{book.price - (book.price * (book.promotion / 100)) | currency:'VND':'symbol'}}</ins>
                  <del>{{book.price | currency:'VND':'symbol'}}</del>
                </span>
                <a class="tg-btn tg-btnstyletwo tg-active" (click)="addToCart(book)">
                  <i class="fa fa-shopping-basket"></i>
                  <em>Thêm vào giỏ</em>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  