.tg-postbookcontent.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 250px; /* chỉnh theo chiều cao tối thiểu mong muốn */
    padding-bottom: 10px;
  }
  
  .tg-postbookcontent .add-to-cart-btn {
    margin-top: auto;
  }
  .tg-postbook {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.whimg{
  height: 250px;
}
.rating-stars {
  color: #FFD700;
  font-size: 16px;
}

.rating-stars .fa {
  margin-right: 2px;
}

.rating-stars .filled {
  color: #FFD700;
}

.rating-number {
  margin-left: 5px;
  color: #555;
  font-size: 14px;
}