<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-footerarea">
    <div class="container">
      <div class="row tg-footergrid">

        <!-- Địa chỉ -->
        <div class="tg-footeritem">
          <i class="icon-apartment"></i>
          <address>
            30, Liền kề 23, KDT Vân Canh, Hoài Đức, Hà Nội
          </address>
        </div>

        <!-- Điện thoại -->
        <div class="tg-footeritem">
          <i class="icon-phone-handset"></i>
          <div>
            <em>+84-868133791</em><br>
            <em>+84-344069050</em>
          </div>
        </div>

        <!-- Giờ phục vụ -->
        <div class="tg-footeritem">
          <i class="icon-clock"></i>
          <span>Phục vụ cả tuần từ 7am - 22pm</span>
        </div>

        <!-- Email -->
        <div class="tg-footeritem">
          <i class="icon-envelope"></i>
          <div>
            <em><a href="mailto:support@domain.com">tamanstore&#64;gmail.com</a></em><br>
            <em><a href="mailto:>minhnghia11202@gmail.com">minhnghia11202&#64;gmail.com</a></em>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tg-footerbar">
    <a id="tg-btnbacktotop" class="tg-btnbacktotop" href="#"><i class="icon-chevron-up"></i></a>
    <div class="container text-center">
      <span class="tg-copyright">Giấy chứng nhận Đăng ký Kinh doanh số 0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 01/01/2025</span>
    </div>
  </div>
</footer>
