
<app-header></app-header>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-center">Giỏ Hàng Của Bạn</h1>
  
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div class="overflow-x-auto shadow rounded-lg">
        <table class="min-w-full bg-white border border-gray-300">
          <thead class="bg-gray-100">
            <tr>
              <th class="text-center p-4">Ảnh</th>
              <th class="text-center p-4">Tên Sản Phẩm</th>
              <th class="text-center p-4">Đơn Giá</th>
              <th class="text-center p-4">Số Lượng</th>
              <th class="text-center p-4">Tổng</th>
              <th class="text-center p-4">Hành Động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems" class="text-center border-t">
                <td data-label="Ảnh"><img src="images/books/img-01.jpg" alt="Ảnh sản phẩm"></td>
                <td data-label="Tên Sản Phẩm">{{ item.title }}</td>
                <td data-label="Đơn Giá">{{ item.price | currency:'VND' }}</td>
                <td data-label="Số Lượng">
                  <div class="quantity-group">
                    <button (click)="decreaseQuantity(item)" class="quantity-btn">-</button>
                    <input type="number" [value]="item.quantity" (change)="changeQuantity(item, $event)" class="quantity-input">
                    <button (click)="increaseQuantity(item)" class="quantity-btn">+</button>
                  </div>
                </td>
                <td data-label="Tổng">{{ item.price * item.quantity | currency:'VND' }}</td>
                <td data-label="Hành Động">
                  <button (click)="removeItem(item)" class="delete-btn">Xóa</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="flex flex-col md:flex-row justify-between items-center mt-8">
        <h2 class="text-2xl font-bold text-gray-700">
          Tổng cộng: <span class="text-green-600">{{ totalPrice | currency:'VND' }}</span>
        </h2>
  
        <button (click)="clearCart()" class="mt-4 md:mt-0 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-6 rounded shadow">
          Xóa toàn bộ giỏ hàng
        </button>
      </div>
    </div>
  
    <ng-template #emptyCart>
      <p class="text-center text-gray-500 text-xl">Giỏ hàng của bạn đang trống</p>
    </ng-template>
  </div>
<app-footer></app-footer>