<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" >
    <img src="images/parallax/bgparallax-07.jpg" alt="">
	<div class="container">
		<div class="row">
            <div class="banner-content ">
                <h1 class="banner-title">Chào mừng đến với Tâm An Bookstore</h1>
                <p class="banner-subtitle">Khám phá thế giới tri thức với hàng ngàn đầu sách phong phú</p>
                <a routerLink="/books" class="tg-btn tg-btnstyleone">Mua ngay</a>
            </div>
        </div>
    </div>
</div>