<section class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tg-sectionhead">
          <h2><span>Một số cuốn sách hay</span>được tác giả lựa chọn</h2>
          <a class="tg-btn" href="javascript:void(0);">Xem tất cả</a>
        </div>
      </div>

      <!-- Cột sách -->
      <div class="col-md-4">
        <div class="tg-pickedbyauthor tg-pickedbyauthorslider">
          <div class="item" *ngFor="let item of listTopBooksByTopAuthors">
            <div class="tg-postbook">
              <figure class="tg-featureimg">
                <div class="tg-bookimg">
                  <div class="tg-frontcover">
                    <img src="images/books/img-01.jpg" alt="">
                  </div>
                </div>
                <div class="tg-hovercontent">
                  <div class="tg-description">
                    <p>{{ item.description }}</p>
                  </div>
                  <strong class="tg-bookpage">Số lượng bán: {{ item.selling }}</strong>
                  <strong class="tg-bookcategory">Tên sách: {{ item.title }}</strong>
                  <strong class="tg-bookprice">Giá: {{ item.price | currency:'VND' }}</strong>
                  <div class="tg-ratingbox">
                    <span class="tg-stars">
                      <span [style.width.%]="item.rating * 20"></span>
                    </span>
                  </div>
                </div>
              </figure>
              <div class="tg-postbookcontent">
                <div class="tg-booktitle">
                  <h3><a href="javascript:void(0);">{{ item.title }}</a></h3>
                </div>
                <span class="tg-bookwriter">Tác giả: <a href="javascript:void(0);">{{ item.authorName }}</a></span>
                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                  <i class="fa fa-shopping-basket"></i>
                  <em>Thêm vào giỏ</em>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cột tác giả - hiển thị tĩnh -->
      <div class="col-md-8 d-flex align-items-center" style="margin-top: 80px;">
        <div class="tg-testimonialsslider tg-testimonials w-100">
          @for (item of listTopAuthor; track $index) {
            <div class="item tg-testimonial" style="margin-bottom: 150px;">
              <figure>
                <img src="images/author/imag-02.jpg" alt="Holli Fenstermacher">
              </figure>
              <blockquote><q>"{{item.bio}}"</q></blockquote>
              <div class="tg-testimonialauthor">
                <h3>{{item.authorName}}</h3>
                <span>Tổng sách đã bán: {{item.totalSold}}</span>
              </div>
            </div>
          }
        </div>
      </div>   
    </div>
  </div>
</section>
